
@media(min-width:768px){
	.container-slide{
		width:58%;
		height:inherit;
		padding:20px;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		margin-bottom: 10px;
	}
	.image-slider-wrapper{
		overflow:hidden;
	}
	#image_slider{
		position:relative;
		height:200px;
		padding:0;
	}
	#image_slider li{
		max-width:100%;
		float:left;
		list-style:none;
	}
	::after{
		clear :left;
	}
	img{
		width : 150px;
		height: 150px;
		margin-left: 10px;
	}
	#menuBox{
		margin-top : 0.5rem;
		width: 350px;
		/* border: 1px solid grey; */
		visibility: hidden;
		padding: 15px;
	}
	.click-span{
		cursor: pointer;
		padding-top: 5px;
	}
	#header{
		background-color: aqua;
		border-radius: 0.05rem;
		margin: 10px;
		padding: 5px 0px 5px 2px;
		max-height: 35px;
		overflow: hidden;
	}
}
